[http]
	proxy = http://127.0.0.1:10808
[user]
	email = kanye@seek.li
	name = bart_dude
[init]
	defaultBranch = main

[sendemail]
	smtpserver = mail.seek.li
	smtpuser = kanye@seek.li
	smtpencryption = ssl
	smtpserverport = 465
# Some notes on a classic github workflow
# git checkout -b feature-x;
# Do some commits.
# git pull --rebase origin main;
# git push -f;
# gh pr create;
# gh pr merge --squash --delete-branch;
[alias]
	graph = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	hotfiles = !git log --format=format: --name-only --since='1 year ago' | sort | uniq -c | sort -nr | head -20
	authors = shortlog -sen --no-merges
	bugfiles = !git log -i -E --grep='fix|bug|broken' --name-only --format='' | sort | uniq -c | sort -nr | head -20
	monthly = !git log --format='%ad' --date=format:'%Y-%m' | sort | uniq -c
	incidents = !git log --oneline --since='1 year ago' | grep -iE 'revert|hotfix|emergency|rollback'
