[http]
	proxy = http://127.0.0.1:10808
[user]
	email = kanye@seek.li
	name = bart_dude
[init]
	defaultBranch = main

[sendemail]
	smtpserver = mail.seek.li
	smtpuser = kanye@seek.li
	smtpencryption = ssl
	smtpserverport = 465
# Some notes on a classic github workflow
# git checkout -b feature-x;
# Do some commits.
# git pull --rebase origin main;
# git push -f;
# gh pr create;
# gh pr merge --squash --delete-branch;
